@import 'font.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
}
.body {
  font-family: 'OpenSans-Semibold';
}
ul li {
  display: block;
}


/* NAV */
.menu-bar {
  padding: 20px 0;
  color: #212121;
  background-color: white;
}
.menu__item {
  padding-left: 37px;
}
.menu__item a {
  font-size: 20px;
  color: #212121;
}
/* при наведении меняется цвет ссылок на зеленый и убирается подчеркивание */
.menu__item a:hover {
  text-decoration: none;
  color: #00897b;
}
/* HEADER */
.header{
  position: relative;
  text-align: center;
  color: white;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
  padding-top: 180px;
  padding-bottom: 180px;
}
span {
  display: block;
  position: absolute;
  content: '';
  top: 88%;
  left: 50%;
  width: 20px;
  height: 3px;
  background: white;
  border: 1px solid white;
}
.arrow1 {
  transform: translateX(-6px) rotate(45deg);
}
.arrow2 {
  transform: translateX(6px) rotate(-45deg);
}
.header__title {
  font-size: 60px;
}
.header__text {
  padding-bottom: 110px;
  font-family: 'OpenSans-Regular';
  font-size: 22px;
}
.button {
  font-family: 'Roboto';
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  margin: 0 10px;
  transition: 0.3s;
}
.button_white {
  border: 2px solid white;
  color: white;
}
.button:hover, .focused {
  border-color: #00897b;
  background-color: #00897b;
  color: white;
  cursor: pointer;
}
/* ABOUT US */
.about {
  padding-top: 125px;
  padding-bottom: 80px;
  color: #212121;
  background-color: white;
  text-align: center;
}
.about__title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.about__subtitle {
  padding-top: 25px;
  font-size: 20px;
}
.about__text {
  margin-bottom: 125px;
  font-family: 'OpenSans-Regular';
  font-size: 17px;
}
.about__textcard {
  margin-bottom: 40px;
  font-family: 'OpenSans-Regular';
  font-size: 17px;
}
/* OUR SERVICES */
.services {
  padding-top: 180px;
  padding-bottom: 110px;
  color: #212121;
  background-color: #e4fdf9;
  text-align: center;
}
.infocard {
  padding: 60px 60px;
  margin-bottom: 20px;
  background-color: rgb(253, 253, 253);
  transition: 0.3s;
}
.infocard:hover {
  color: white;
  box-shadow: 0px 10px 12px -0px rgba(0, 0, 0, 0.3) ;
  background-color: #00897b;
}
.infocard:hover > .icon {
  display: none;
}
.icon_white {
  display: none;
  transition: 0.3s;
  user-select: none;
}
.infocard:hover > .icon_white {
  display: block;
  margin: 0 auto;
}
/* на кнопки для портфолио добавляем класс .focused, чтобы в js сделать подсветку после нажатия */
.button_black{
  font-family: 'OpenSans-Semibold';
  border: 2px solid rgb(3, 3, 3);
  color: rgb(3, 3, 3);
  transition: 0.3s;
}
.infocard:hover .button_black{
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
/* ПОРТФОЛИО */
.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
  color: #212121;
  text-align: center;
}
.portfolio .button{
  border: 2px solid #00897b
}
.portfolio img{
  position: relative;
  margin-bottom: 30px;
}
.filter{
  padding: 120px 0;
}
.show > div{
  display: none;
  padding: 120px 0;
  justify-content: center;
}
.text{
  display: none;
}
div[focus]:hover img, div[filter]:hover img{
  /* затемнение карттинки на 50% */
  filter: brightness(50%);
  transition: 0.3s;
}
div[focus], div[filter]{
  position: relative;
}
div[focus]:hover .text, div[filter]:hover .text{
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgb(255, 253, 253);
  top: 40%;
  left: 0;
  z-index: 3;
}
 /* PRICE */
.price {
  padding-top: 130px;
  padding-bottom: 120px;
  color: #212121;
  background-color: #f0f1f1;
  text-align: center;
 }
 .pricecard{
  background-color: white;
  padding-bottom: 65px;
 }
 .pricecard:hover{
  box-shadow: 0 10px 10px 0 rgba(128, 128, 128, 0.443);
 }
 .pricecard__head{
   padding-top: 50px;
   padding-bottom: 65px;
  background-image: url(../img/pricing_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 212px;
  font-family: 'OpenSans-Regular';
  color: white;
 }
 .pricecard__head p{
  font-size: 25px;
 }
 .pricecard__head{
  font-size: 50px;
 }
 .pricecard__head sub{
  vertical-align: middle;
  font-size: 17px;
 }
 .pricecard__head sup{
  vertical-align: middle;
  font-size: 30px;
  /* убрать пробел между $ и цыфрой */
  letter-spacing: -.36em;
 }
 .pricecard__body{
  font-family: 'OpenSans-Light';
  font-size: 17px;
  color: #212121;
 }
 .pricecard__body p{
  padding-left: -2rem;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 40px;
  border-bottom: 1px solid #bfbfbf;
  max-width: 178px;
 }
 .pricecard__body p:last-child{
  margin-bottom: 65px;
 }
 